{% if label %}
<label for="{{ id }}" class="form-label">{{ label }}</label>
{% endif %}

{% if tag_name == "select" %}

<select id="{{ id }}" name="{{ id }}" class="form-select"{% if label %} aria-label="{{ label }}"{% endif %}>
  {% if placeholder %}
  <option disabled selected>{{ placeholder }}</option>
  {% endif %}
  {% for text, value in opt_value_tuples %}
  <option value="{{ value }}">{{ text }}</option>
  {% endfor %}
</select>

{% else %}

<input
  type="{{ type }}"
  class="form-control"
  id="{{ id }}"
  name="{{ id }}"
  {% if placeholder %} placeholder="{{ placeholder }}"{% endif %}
  {% if required %} required{% endif %}
/>

{% endif %}
