<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#1eaee0" />
    {% if meta %}
    <meta name="title" content="{{ meta.title }}" />
    <meta name="description" content="{{ meta.description }}" />

    <meta property="og:type" content="website" />
    <meta property="twitter:card" content="summary_large_image" />
    {% if meta.canonical_url %}
    <meta property="og:url" content="{{ meta.canonical_url }}" />
    <meta property="twitter:url" content="{{ meta.canonical_url }}" />
    {% endif %}

    <meta property="og:title" content="{{ meta.title }}" />
    <meta property="og:description" content="{{ meta.description }}" />
    <meta property="twitter:title" content="{{ meta.title }}" />
    <meta property="twitter:description" content="{{ meta.description }}" />

    {% if meta.image %}
    <meta property="og:image" content="{{ meta.image }}" />
    <meta property="twitter:image" content="{{ meta.image }}" />
    {% endif %} {% endif %}

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <style>
      html,
      body {
        height: 100%;
        {% if theme == "dark" %}
        background: var(--bs-dark);
        color: var(--bs-white);
        {% endif %}
      }
    </style>
  </head>
  <body style="display: grid; place-content: center">
    <div
      class="
        d-flex
        flex-column
        align-items-center
        justify-content-center
        px-4
        py-lg-3
        my-5
        text-center
      "
    >
      {% if logo %}
      <img
        class="d-block mx-auto mb-4"
        src="{{ logo }}"
        alt=""
        width="56"
        height="56"
      />
      {% endif %}
      <h1 class="display-5 fw-bold">
        {{ headline }}
      </h1>
      <div class="col-lg-6 mx-auto">
        <p
          class="lead mb-4{% if theme == 'light' %} text-muted{% endif %}"
          {% if theme == "dark" %}style="color: rgba(255, 255, 255, 0.7)"{% endif %}
        >
          {{ subtext }}
        </p>
      </div>

      {% if signup_form %}
      {{ signup_form }}
      {% endif %}
    </div>
  </body>
</html>
